<div class="main">
<form action="/thank-you" class="apply-form">
  <div class="apply-group">
    <label for="email">Fullname</label>
    <input type="email" class="apply" name="email" id="email" />
  </div>
  <div class="apply-group">
    <label for="email">E-mail address</label>
    <input type="email" class="apply" name="email" id="email" />
  </div>
  <div class="apply-group" id="message">
    <label for="Message">Message</label>
    <input type="text" class="apply Message" name="Message" id="Message" />
  </div>
  <div class="apply-group">
    <label for="image">Upload your CV</label>
    <input type="file" class="apply-file"  name="image" id="image" />
  </div>

  <button type="submit" class="apply-button">Submit</button>
</form>
</div>