<!doctype html>
<html>

<head>
    <title>Document</title>
</head>

<body>
    <header>
        <img src="https://i.pinimg.com/236x/8a/a9/c5/8aa9c5d8429f561000f1de8e7f6d5a32.jpg"
            alt="Meadowlark Travel Logo">
    </header>
    {{{body}}}
</body>

</html>