<!doctype html>
<html>

<head>
    <title>Meadowlark Travel</title>
</head>

<body>
    <header>
        <img src="https://i.pinimg.com/564x/99/49/77/994977c48fde58ac674a2d05ba5a5efb.jpg"
            alt="Meadowlark Travel Logo">
    </header>
    {{{body}}}
</body>

</html>